<!DOCTYPE html>
    <div class="col-md-7 col-sm-12 col-md-offset-5 main-content">

                <div class="nav">
                    
                    
                    <i class="fa fa-slack"></i><%= link_to "Topics", "javascript:void(0);", :class => "select-categories" %>
                </div>
            

                        
            <div class="home-page-posts animated fadeIn " id="my-topics">
                <ul class="event-list">

                    <%= render @topics %>

                    
                </ul>
            </div>
            <div id="infinite-scrolling" class="event-list">
                
                   <%= will_paginate @topics %>

             </div>


        </div>

  
        